
<ion-modal-view id="new-group" class="modal-page">
    <ion-header-bar class="bar-stable">
        <button class="button button-clear button-icon icon button-positive ion-ios-arrow-down" 
                ng-click="closeNewGroup()">
        </button>
        <h1 class="title">New Group</h1>
        <button class="button button-clear button-icon icon button-positive ion-ios-checkmark-outline" 
                ng-click="createNewGroup($root.newGroupName); $root.newGroupName=''">
        </button>
    </ion-header-bar>

    <ion-content style='background-color: #EDEEF1'>
        <div>
            <div style="margin-left:10%; width:80%">
                <input type="text" ng-model="$root.newTopicName" placeholder="Name this topic"
                       style="height: 57px; text-align:center; width: 100%">
            </div>
        </div>
        <ion-list>
            <ion-item class="item-checkbox item-checkbox-right item-avatar" 
                      ng-repeat="user in users" ng-if="user.id!= userId">
                <label class="checkbox">
                    <input type="checkbox" ng-model="user.checked" ng-checked="user.checked">
                </label>
                <img ng-src="{{user.face}}">

                <h2>
                    <small>{{user.firstName}} {{user.lastName}}</small>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>