<style>
    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -40px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        width: 80px;
        height: 80px;
    }

    .item-avatar .fileUpload > img:first-child {
        border-radius: 50%;
    }
</style>

<!-- name of tab -->
<ion-view view-title="Group Setting">
    <ion-nav-buttons side="primary">
        <button nav-direction="back" 
                class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">
        </button>
    </ion-nav-buttons>

    <ion-content style="background-color: #f4f4f4">
        <ion-list>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center"
                      style="background-color: #f4f4f4">
                <!-- name of group -->
                <h2>
                    <small style="color:black">{{group.name}}</small>
                </h2>
                <h3>
                    <button class="button button-clear button-positive" style="color:black"
                            ng-click="showEdit()">
                        {{(group.description) ?group.description :'No description'}}
                    </button>
                </h3>
            </ion-item>

            <!-- noti tab -->
            <ion-item class="item-icon-left" ng-click="setNotification();">
                <i class="icon ion-ios-bell-outline positive"></i>
                Notification
                <span class="item-note">On</span>
            </ion-item>

            <div style="height: 35px"></div>

            <!-- if tab == group -->
            <ion-item class="item-icon-left" ng-click="openAddPeople();" >
                <i class="icon ion-ios-plus-empty positive"></i>
                Add People
            </ion-item> 

            <div style="height: 10px"></div>
            <ion-item class="item-icon-left" ng-click="openSendRequest();" >
                <i class="icon ion-ios-plus-empty positive"></i>
                Send Friend Request To Other Group
            </ion-item> 

            <div style="height: 30px"></div>
            <ion-item class="assertive" ng-click="showConfirmLeave();" style="text-align:center">
                Leave Group
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>