<ion-view hide-nav-bar="true">
    <ion-content class="padding text-center">
        <div style="height: 25px"></div>
        <h2>Sign up with Messenger</h2>
        <div style="height: 25px"></div>
        <ion-list class="border-none">
            <ion-item class="item-input border-bottom">
                <input type="text" placeholder="Email">
            </ion-item>
            <ion-item class="item-input border-bottom">
                <input type="password" placeholder="Password">
            </ion-item>
            <ion-item class="item-input border-bottom">
                <input type="password" placeholder="Confirm Password">
            </ion-item>
        </ion-list>
        <div class="padding">
            <a class="button button-clear button-large" href="#/sign-up-name">
                Continue
            </a>
            <div style="height: 10px"></div>
            <p>By continuing, you are indicate that you agree to the <a href="#" class="positive">Privacy Policy</a>and<a href="#" class="positive">Terms</a>.</p>
        </div>
    </ion-content>
</ion-view>