<ion-view style='color:white' view-title="Topics">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon button-positive icon ion-ios-compose-outline"
                ng-click="openNewChat()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon button-positive icon ion-ios-search"
                ng-click="openSearch()"></button>
    </ion-nav-buttons>

    <ion-content style='background-color: #EDEEF1'>
        <ion-list ng-if="recentTopics.length>0 || bookmarkTopics.length>0">
            <div ng-if="recentTopics.length>0"
                 class="item item-divider" style="text-align:center" >
                <b class="button-icon icon ion-ios-clock-outline"></b>
            </div>
            <span ng-repeat="topic in recentTopics track by $index">
                <ion-item class="item-remove-animate item-avatar" 
                          nav-direction="forward" href="#/topic/{{topic.id}}"
                          type="item-text-wrap">
                    <img ng-src="{{(topic.thumbnail) ?topic.thumbnail :'img/icon/topic.jpg'}}">

                    <span ng-if="topic.type==0"
                          class="badge avatar-badge avatar-badge-s" ng-class="badge-positive">
                        <i class="ion-ios-locked"></i>
                    </span>

                    <h3>
                        <small>{{topic.title}}</small>
                    </h3>
                    <p>{{getLastMessageText(topic.id)}}</p>

                    <span class="item-note">
                        {{getLastMessageTime(topic.id)}}
                    </span>

                    <ion-option-button class="button-assertive" ng-click="">
                        Unfollow
                    </ion-option-button>
                </ion-item>
            </span>

            <div ng-if="bookmarkTopics.length>0" 
                 class="item item-divider" style="text-align:center" >
                <b class="button-icon icon ion-ios-bookmarks-outline"></b>
            </div>
            <span ng-repeat="topic in bookmarkTopics track by $index">
                <ion-item class="item-remove-animate item-avatar" 
                          nav-direction="forward" href="#/topic/{{topic.id}}"
                          type="item-text-wrap">
                    <img ng-src="{{(topic.thumbnail) ?topic.thumbnail :'img/icon/topic.jpg'}}">

                    <span ng-if="topic.type==0"
                          class="badge avatar-badge avatar-badge-s" ng-class="badge-positive">
                        <i class="ion-ios-locked"></i>
                    </span>
                 
                    <h3>
                        <small>{{topic.title}}</small>
                    </h3>
                    <p>{{getLastMessageText(topic.id)}}</p>

                    <span class="item-note">
                        {{getLastMessageTime(topic.id)}}
                    </span>

                    <ion-option-button class="button-dark" ng-click="">
                        Unbookmark
                    </ion-option-button>
                </ion-item>
            </span>
        </ion-list>

        <!--show when there is no activity-->
        <div ng-if="recentTopics.length<=0 && bookmarkTopics.length<=0">
            <div style="height: 60px"></div>
            <div class="text-center" style="padding: 45px">
                <h2 class="grey">
                    Recent & Bookmark
                </h2>

                <div style="height: 10px"></div>
                <h4 class="grey">Once you start chatting, all your messages will be here.</h4>

                <div style="height: 20px"></div>
                <button class="button button-outline" ng-click="openNewChat()">New Message</button>
            </div>
        </div>
    </ion-content>
</ion-view>