<ion-view view-title="Setting">
    <!-- <ion-nav-buttons side="right">
        <button style="color:#fff" class="icon button-clear button-icon button-positive ion-edit" 
                ng-click="showEdit()">
        </button>
    </ion-nav-buttons> -->

    <ion-content id="tab-account" style='background-color: #EDEEF1'>
        <ion-list>
            <div style="height: 10px"></div>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center">
                <img ng-src="{{(user.face) ?user.face :'img/icon/male.jpg'}}">
                
                <h2>
                    <button class="button button-clear button-positive" ng-click="showEdit()">
                        <small style="color:black">{{user.firstName}} {{user.lastName}}</small>
                    </button>
                </h2>
            </ion-item>
            <div style="height: 30px"></div>
            <ion-item class="item-icon-right" ng-click="showNotification();">
                <h3><small>Notifications</small></h3>
                <p>On</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-toggle ng-model="setting_preview">
                <h3><small>Notification Previews</small></h3>
                <p ng-if="!setting_preview">Show name only</p>
                <p ng-if="setting_preview">Show name and massage</p>
            </ion-toggle>
            <div style="height: 20px"></div>
            <ion-toggle ng-model="setting_sound">
                <h3><small>In-App Sound</small></h3>
                <p ng-if="!setting_sound">Off</p>
                <p ng-if="setting_sound">On</p>
            </ion-toggle>

            <ion-toggle ng-model="setting_vibration">
                <h3><small>In-App Vibrate</small></h3>
                <p ng-if="!setting_vibration">Off</p>
                <p ng-if="setting_vibration">On</p>
            </ion-toggle>
            <div style="height: 20px"></div>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Help</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Third Party Notice</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Privacy Policy</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Terms of Service</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="show();">
                <h3><small>Report a Problem</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <div style="height: 30px"></div>
            <ion-item class="assertive" ng-click="logout();" style="text-align:center">
                Log out
            </ion-item>
            <div style="height: 20px"></div>
        </ion-list>
    </ion-content>
</ion-view>
