<style>
    .plus-circle {
        display: inline-block;

        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 2px dashed #D9D9D9;
        padding: 7px;
    }

    .plus-circle i {
        font-size: 40px;
    }

    /*.item h3 small {*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
    /*}*/
</style>

<ion-view view-title="Groups" id="tab-groups">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="openNewGroup()">
            <img style='height:32px; width:32px' ng-src="img/icon/new_group-256.png">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon button-positive icon ion-ios-search"
                ng-click="openGroupSearch()">
        </button>
    </ion-nav-buttons>

    <ion-content style='background-color: #EDEEF1'>
        <div ng-if="groupsOfUser.length">
            <div ng-repeat="group in groupsOfUser" ng-if="$index%2==0" class="row">
                <div class="col col-50 {{($index==groupsOfUser.length-1) ?'col-offset-25' :''}}">
                    <div class="col-100 list card">

                        <div class="item item-avatar item-avatar-center item-avatar-l text-center">
                            <a nav-direction="forward"
                               
                               href="#/topics/{{group.id}}/true">
                                <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->
                                <h3>
                                    <small>{{group.name}}</small>
                                </h3>
                                <p>{{(group.description) ?group.description :'No description'}}</p>
                                
                            </a>
                            <a class="badge avatar-badge avatar-badge-s7" ng-class="badge-positive"
                               ng-href="#/group-setting/{{group.id}}">
                                <i class="ion-android-more-vertical"></i>
                            </a>
                        </div>

                        <a nav-direction="forward" class="item item-divider text-center" 
                           href="#/group-members/{{group.id}}">
                            <p>
                                {{userNames(group.id)}}
                            </p>
                        </a>

                    </div>
                </div>
                <div ng-if="$index+1<groupsOfUser.length" class="col col-50">
                    <div class="col-100 list card">
                        <div class="item item-avatar item-avatar-center item-avatar-l text-center">
                            <a nav-direction="forward"
                               href="#/topics/{{groupsOfUser[$index+1].id}}/true">
                                <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->
                                <h3>
                                    <small>{{groupsOfUser[$index+1].name}}</small>
                                </h3>
                                <p>{{(groupsOfUser[$index+1].description) ?groupsOfUser[$index+1].description :'No description'}}</p>
                            </a>
                            <a class="badge avatar-badge avatar-badge-s7" ng-class="badge-positive"
                               ng-href="#/group-setting/{{groupsOfUser[$index+1].id}}">
                                <i class="ion-android-more-vertical"></i>
                            </a>
                        </div>

                        <a nav-direction="forward" class="item item-divider text-center" 
                           href="#/group-members/{{groupsOfUser[$index+1].id}}">
                            <p>
                                {{userNames(groupsOfUser[$index+1].id)}}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div style="height: 30px"></div>
        <h4><b>Sugguest groups</b></h4>
        <div ng-repeat="group in suggestGroups" ng-if="$index%2==0" class="row">
            <div class="col col-50 {{($index==suggestGroups.length-1) ?'col-offset-25' :''}}">
                <div class="col-100 list card">
                    <a nav-direction="forward"
                       class="item item-avatar item-avatar-center item-avatar-l text-center"
                       href="#/topics/{{group.id}}/false">
                        <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->
                        <h3>
                            <small>{{group.name}}</small>
                        </h3>
                        <p>{{(group.description) ?group.description :'No description'}}</p>
                    </a>

                    <a nav-direction="forward" class="item item-divider text-center" 
                       href="#/group-members/{{group.id}}">
                        <p>
                            {{userNames(group.id)}}
                        </p>
                    </a>
                </div>
            </div>
            <div ng-if="$index+1<suggestGroups.length" class="col col-50">
                <div class="col-100 list card">
                    <a nav-direction="forward"
                       class="item item-avatar item-avatar-center item-avatar-l text-center"
                       href="#/topics/{{suggestGroups[$index+1].id}}/false">
                        <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->

                        <h3>
                            <small>{{suggestGroups[$index+1].name}}</small>
                        </h3>
                        <p>{{(suggestGroups[$index+1].description) ?suggestGroups[$index+1].description :'No description'}}</p>
                    </a>

                    <a nav-direction="forward" class="item item-divider text-center" 
                       href="#/group-members/{{suggestGroups[$index+1].id}}">
                        <p>
                            {{userNames(suggestGroups[$index+1].id)}}
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <!--show when there is no group-->
        <!--<div class="row">-->
            <!--<div class="col text-center">-->
                <!--<div class="list card">-->
                    <!--<div class="item" style="padding: 30px 15px">-->
                        <!--<a class="plus-circle" ng-click="openNewGroup()">-->
                            <!--<i class="icon ion-ios-plus-empty stable"></i>-->
                        <!--</a>-->

                        <!--<div style="height: 10px"></div>-->
                        <!--<h2 class="positive">-->
                            <!--<small>New Group</small>-->
                        <!--</h2>-->
                        <!--<p class="stable">for family?</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col text-center">-->
                <!--<div class="list card">-->
                    <!--<div class="item" style="padding: 30px 15px">-->
                        <!--<a class="plus-circle" ng-click="openNewGroup()">-->
                            <!--<i class="icon ion-ios-plus-empty stable"></i>-->
                        <!--</a>-->

                        <!--<div style="height: 10px"></div>-->
                        <!--<h2 class="positive">-->
                            <!--<small>New Group</small>-->
                        <!--</h2>-->
                        <!--<p class="stable">for dinner plans?</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col text-center">-->
                <!--<div class="list card">-->
                    <!--<div class="item" style="padding: 30px 15px">-->
                        <!--<a class="plus-circle" ng-click="openNewGroup()">-->
                            <!--<i class="icon ion-ios-plus-empty stable"></i>-->
                        <!--</a>-->

                        <!--<div style="height: 10px"></div>-->
                        <!--<h2 class="positive">-->
                            <!--<small>New Group</small>-->
                        <!--</h2>-->
                        <!--<p class="stable">for photos?</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col text-center">-->
                <!--<div class="list card">-->
                    <!--<div class="item" style="padding: 30px 15px">-->
                        <!--<a class="plus-circle" ng-click="openNewGroup()">-->
                            <!--<i class="icon ion-ios-plus-empty stable"></i>-->
                        <!--</a>-->

                        <!--<div style="height: 10px"></div>-->
                        <!--<h2 class="positive">-->
                            <!--<small>New Group</small>-->
                        <!--</h2>-->
                        <!--<p class="stable">for team?</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>
