<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Activities Tab -->
    <ion-tab title="Topics" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/activities">
        <ion-nav-view name="tab-activities"></ion-nav-view>
    </ion-tab>

    <!-- Groups Tab -->
    <ion-tab title="Groups" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/groups">
        <ion-nav-view name="tab-groups"></ion-nav-view>
    </ion-tab>

    <!-- People Tab -->
    <ion-tab title="People" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/people">
        <ion-nav-view name="tab-people"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
