<style>
    .plus-circle {
        display: inline-block;

        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 2px dashed #D9D9D9;
        padding: 7px;
    }

    .plus-circle i {
        font-size: 40px;
    }

    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }

    .fileUpload .icon {
        font-size: 24px;
        color: #cccccc;
        border: 1px solid #cccccc;
        border-radius: 50%;
        padding: 8px 13px;
        position: relative;
        top: 12px;
    }
</style>

<ion-view>

    <ion-nav-buttons side="left">
        <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-if="group.belong=='true'" 
                class="button button-clear button-positive" ng-click="openNewTopic()">
            <img style='height:32px; width:32px' ng-src="img/icon/new_topic-256.png">
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        <a>
            {{(group.belong=='true' ?'' :'Public ')}}Topics in {{group.name}}
        </a>
    </ion-nav-title>

    <ion-content style='background-color: #EDEEF1'>

        <ion-list ng-if="group.topics.length>0">
            <span ng-repeat="topic in group.topics">
                <ion-item ng-if="group.belong=='true' || ( group.belong=='false'&& topic.type==1)"
                          class="item-remove-animate item-avatar" 
                          nav-direction="forward" href="#/topic/{{topic.id}}"
                          type="item-text-wrap">
                    <img ng-src="{{(topic.thumbnail) ?topic.thumbnail :'img/icon/topic.jpg'}}">

                    <span ng-if="topic.type==0"
                          class="badge avatar-badge avatar-badge-s" ng-class="badge-positive">
                        <i class="ion-ios-locked"></i>
                    </span>

                    <h3>
                        <small>{{topic.title}}</small>
                    </h3>

                    <p>{{getLastMessageText(topic.id)}}</p>

                    <span class="item-note">{{getLastMessageTime(topic.id)}}</span>

                    <ion-option-button class="button-assertive" ng-click="">
                        Unfollow
                    </ion-option-button>

                </ion-item>
            </span>
        </ion-list>

        <!--show when there is no room and you are admin of this group-->
        <div ng-if="group.topics.length==null">
            <div class="text-center" style="padding: 50px">
                <h2 class="grey">
                    Topic
                </h2>
                <div style="height: 10px"></div>
                <h4 class="grey">All {{group.name}}'s topics will be here.</h4>
            </div>
        </div>

        <!-- nếu thuộc về nhóm đó thì có thể new topic -->
        <!-- <div ng-if="group.belong=='true'" class="row">
            <div class="col text-center">
                <div class="list card">
                    <div class="item" style="padding: 5px 15px 0px 15px">
                        <h2 class="positive">
                            <small>New Private Topic</small>
                        </h2>
                        <div style="height: 15px"></div>

                        <div class="fileUpload" >
                            <i class="icon ion-camera"></i>
                            <input class="upload" type="file" accept="image/*" capture="camera">
                        </div>

                        <div style="height: 30px"></div>
                        
                        <p class="stable">private</p>
                        <div>
                            <input type="text" ng-model="$root.newPrivateTopicName" 
                                   placeholder="Name new topic"
                                   style="height: 40px; text-align:center; width: 100%">
                        </div>
                        <a class="button button-clear button-positive" 
                           ng-click="createNewTopic('Private', $root.newPrivateTopicName, '', group.id); $root.newPrivateTopicName=''">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <div style="height: 40px"></div>
        <h4><b>Friend's groups of {{group.name}}</b></h4>
        <div ng-repeat="group in friendGroups" ng-if="$index%2==0" class="row">
            <div class="col col-50 {{($index==friendGroups.length-1) ?'col-offset-25' :''}}">
                <div class="col-100 list card">
                    <a nav-direction="forward"
                       class="item item-avatar item-avatar-center item-avatar-l text-center"
                       href="#/topics/{{group.id}}/{{isBelong(group.id)}}">
                        <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->

                        <h3>
                            <small>{{group.name}}</small>
                        </h3>
                        <p>{{(group.description) ?group.description :'No description'}}</p>
                    </a>

                    <a nav-direction="forward" class="item item-divider text-center" href="#/group-members/{{group.id}}">
                        <p>
                            {{userNames(group.id)}}
                        </p>
                    </a>
                </div>
            </div>
            <div ng-if="$index+1<friendGroups.length" class="col col-50">
                <div class="col-100 list card">
                    <a nav-direction="forward"
                       class="item item-avatar item-avatar-center item-avatar-l text-center"
                       href="#/topics/{{friendGroups[$index+1].id}}/false">
                        <!-- <img ng-src="{{room.rooms.thumbnail}}"> -->

                        <h3>
                            <small>{{friendGroups[$index+1].name}}</small>
                        </h3>
                        <p>{{(friendGroups[$index+1].description) ?friendGroups[$index+1].description :'No description'}}</p>
                    </a>

                    <a nav-direction="forward" class="item item-divider text-center" href="#/group-members/{{friendGroups[$index+1].id}}">
                        <p>
                            {{userNames(friendGroups[$index+1].id)}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
