<style>
    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -40px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        width: 80px;
        height: 80px;
    }

    .item-avatar .fileUpload > img:first-child {
        border-radius: 50%;
    }
</style>

<!-- name of tab -->
<ion-view view-title="Topic Setting">
    <ion-nav-buttons side="primary">
        <button nav-direction="back" 
                class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">
        </button>
    </ion-nav-buttons>

    <!-- <ion-nav-buttons side="right">
        <button style="color:#fff" class="icon button-clear button-icon button-positive ion-edit" 
                ng-click="showEdit()">
        </button>
    </ion-nav-buttons> -->

    <ion-content style="background-color: #f4f4f4">
        <ion-list>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center"
                      style="background-color: #f4f4f4">

                <!-- anh dai dien, click vao de thay doi anh dai dien -->
                <div class="fileUpload">
                    <img ng-src="{{(topic.thumbnail) ?topic.thumbnail :'img/icon/topic.jpg'}}">
                    <input class="upload" type="file" accept="image/*" capture="camera">
                </div>

                <!-- name of topic -->
                <h2>
                    <button class="button button-clear button-positive" ng-click="showEdit()">
                        <small style="color:black">{{topic.title}}</small>
                    </button>
                </h2>
                
            </ion-item>

            <!-- noti tab -->
            <ion-item class="item-icon-left" ng-click="setNotification();">
                <i class="icon ion-ios-bell-outline positive"></i>
                Notification
                <span class="item-note">On</span>
            </ion-item>

            <div style="height: 35px"></div>

            <ion-item ng-if="room.roomType != 'group'"
                    class="item-icon-left" ng-click="openTagGroup();">
                <i class="icon ion-ios-plus-empty positive"></i>
                Tag Group
            </ion-item>



            <!-- if tab == group -->
            <!-- <ion-item class="item-icon-left" ng-click="openAddPeople();" >
                <i class="icon ion-ios-plus-empty positive"></i>
                Add People
            </ion-item> 


            <ion-item href="#/user-setting/{{user.id}}" class="item-avatar item-icon-right"
                      ng-repeat="user in room.user" type="item-text-wrap" ng-if="room.roomType == 'group'">
                <img ng-src="{{user.face}}">
                <span class="badge avatar-badge avatar-badge-s"
                      ng-class="{'badge-positive':user.friendType=='Messenger', 'badge-stable':user.friendType=='facebook'}">
                    <i class="icon ion-ios-bolt" ng-if="user.friendType=='Messenger'"></i>
                    <i class="icon ion-social-facebook light" ng-if="user.friendType=='facebook'"></i>
                </span>
                <h3>
                    <small>{{user.name}}</small>
                </h3>
                <i class="icon ion-ios-information-outline positive"></i>
            </ion-item>

            <ion-item class="assertive" ng-click="showConfirmLeave();" ng-if="room.roomType == 'group'">
                Leave Group
            </ion-item> -->

        </ion-list>
    </ion-content>
</ion-view>