<ion-view style='color:black'>
    <ion-nav-buttons side="primary">
        <button nav-direction="back" 
                class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        <a ng-if="topic.settingURL!=''" ng-href="{{topic.settingURL}}">
            {{topic.title}} 
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <span ng-if="topic.settingURL==''">
            {{topic.title}} 
        </span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon button-positive 
                        {{(isBookmark(topic.id)==false) ?'ion-ios-star-outline' :'ion-ios-star'}}"
                style="{{(isBookmark(topic.id)==false) ?'color:#fff' :'color:#FAEF85'}}" 
                ng-click="pin(topic.id)">
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" style='background-color: #EDEEF1'>
        <div style="height: 10px; color:red"></div>
        <div ng-if="chatList.length">
            <div class="list border-none" ng-repeat="chat in chatList" 
                 ng-class="[{'me':chat.userId==userId}]">

                <!-- đoạn chat không phải của chủ tài khoản -->
                <div class="itemtopic item-avatar-s chat-friend" ng-if="chat.userId!=userId">
                    <img ng-src="{{(chat.userAvata) ?chat.userAvata :'img/icon/male.jpg'}}">
                    <p class="chat-text stable-bg"> {{chat.chatText}}</p>
                </div>

                <!-- đoạn chat của chủ tài khoản -->
                <div ng-if="chat.userId==userId"
                     class="itemtopic item-avatar-right-s chat-me text-right">
                    <img ng-src="{{face}}">
                    <p class="chat-text positive-bg text-left"> {{chat.chatText}}</p>
                </div>
            </div>
        </div>

        <div ng-if="typingList.length>0" ng-repeat="typing in typingList track by $index"
             class="empty-des text-center padding">
            <h5>{{typing}}</h5>
        </div>

        <div ng-if="chatList.length==0" class="empty-des text-center">
            <div style="height: 100px"></div>
            <h3>Start a conversation</h3>
            <h4>{{topic.title}} is on Messenger and will get your messages instantly.</h4>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-light chat-bar">
        <form class="row" name="theform">
            <input class="col col-75" type="text" ng-model="chatText" placeholder="Type a message" ng-minlength="1" ng-required="true" ng-change="inputChange()">
            <button class="col button" ng-click="sendChat(chatText); chatText = null" ng-disabled="theform.$invalid">Send</button>
        </form>
    </ion-footer-bar>

</ion-view>